*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #ffcad4 !important

}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
p{
    color: #9d8189 ;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
}
nav{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    background-color: #d8e2dc !important;
    margin: 1rem;
}
.logo1{
    padding: right ;
    width: 45px;

}
.logo2{
    padding: right ;
    width: 45px;
}
.logo3{
    padding: right ;
    width: 45px;
}
ul{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    list-style: none;
}
.menu a{
    display: flex;
    justify-content: space-around;
    color: #9d8189;
    text-decoration: none;
    padding: .7rem;
}
.menu a:hover{
    background-color: #f4acb7
    
}
ul ul{
    position: relative;
    display: none;
}
ul ul li{
    display: block;
    text-align: right;
}
.sale{
    width: 80%;
    padding-left: 20%;
    padding-bottom: 5%;
    margin-bottom: 2%;
    margin-top: 3%;

}
/*.make{
    width: 60%;
    padding-left: 2%;
    padding-bottom: 5%;
    margin-bottom: 0%;
    margin-left: 2%;
}
*/
form{
    width: 50%;
    height: 60%;
}

@media screen and (min-width: 320px){
    #main {
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas: "main";
    } 
}
@media screen and (min-width: 1200px){
    #main {
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas: "main";
    } 
}
main{
    grid-area: main;

}
footer{
   display: flex;
   padding-left: 30%;
   padding-right: 30%;
   justify-content: space-between;
   margin-top: 10%;
   margin-bottom: 2%;
    
}
.portada{
    margin-left: 25%;
    margin-bottom: 5%;
}
.imgpag1{
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
}
.productos{
    width: 10%;
    height: 10%;
    justify-content: space-between;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.descprod{
    width: 30%;
    height: 30%;
    margin-bottom: 5%;
    margin-left: 2%;
}
.gradiente{
    background:
    radial-gradient(
      227.77% 227.77% at -8.45% -10.97%,
      rgba(147, 248, 255, 1) 0%,
      rgba(255, 200, 249, 0) 60%
    ),
    radial-gradient(
      111.77% 111.77% at 107% 111%,
      rgba(147, 248, 255, 1) 0%,
      rgba(255, 200, 249, 0) 100%
    ),
    linear-gradient(
      0deg,
      rgba(255, 200, 249, 1) 0%,
      rgba(255, 200, 249, 1) 100%
    );
}
.video, .make{
    box shadow: -webkit-box-shadow: 9px 9px 71px 15px rgba(0,0,0,0.25);
-moz-box-shadow: 9px 9px 71px 15px rgba(0,0,0,0.25);
box-shadow: 9px 9px 71px 15px rgba(0,0,0,0.25);
}
.content_blog{
    width: 90%;
    margin: 10px auto;
    display: grid;
    justify-items: start;
    align-items: start ;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto ;
    gap: 100px;
    grid-template-areas: 
    "make  texto1"
    "titulob titulob"
    "texto2 video"
    
    ;
}
.make{
    grid-area: make;


}
.video{
    grid-area: video;
    width: 800px;
    height: 600px;
    margin-right: 5%;

}
.texto1{
    grid-area: texto1;
    justify-content: end;
    font-size: 2rem;
}
.texto2{
    grid-area: texto2;

    font-size: 2rem;
}
.titulob{
    grid-area: titulob;
    
}
.cards{
    display: grid;
    margin: 100px;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "card1 card2 card3"
    "card4 card5 card6"
    ;
}
.card1{
    grid-area: card1;
    
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}
.card4{
    grid-area: card4;
}
.card5{
    grid-area: card5;
}
.card6{
    grid-area: card6;
}
@media screen {
    |
}

.accordion{
    display: flexbox;
    margin-left: 700px;
}
